PORT=3000
MONGODB_URI=mongodb://localhost:27017/control_de_gastos
JWT_SECRET=3513ac9b65b0430848227ad2fec1b6ed251b3b94dd0416efdcd2f161354b622e
JWT_EXPIRES_IN=3h
# Obtén estas credenciales en https://console.cloud.google.com (Google OAuth 2.0)
GOOGLE_CLIENT_ID=
CLIENT_URL=http://localhost:4200